.box{
	width: 500px;
	height: 300px;
	border: 3px solid bisque;
	margin: 50px auto;
	background-color: papayawhip;
	position: relative;
}
.box img{
	position: absolute;
	left: 0;
	top: 0;
	transform: perspective(800px) rotatey(0deg);
	transition: all 500ms ease;
}

.box:hover img{
	transform: perspective(800px) rotateY(60deg);
}